.skill__frontend button{
width: 10rem;
height: 12rem;
margin: 1rem;
}
.skill__frontend button {
    border-radius: 8px;
    background-color: #fff;
  
}
.buttons__img{
    border-radius: 20px;
    width: 90px;
    height: 100px;
    margin: 2rem;
   
}
.skill__container{
   box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px;
   border-radius: 5px;
}