nav{
    background:rgba(0,0,0,0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.8rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 2rem;
    display: flex;
    gap: 1.2rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
   
}

nav a{
    background: transparent;
    padding: 0.4rem;
    border-radius: 50%;
    font-size: 1.2rem;
    display: flex;
    color: var(--color-light);
}

nav a:hover{
    background-color: rgb(101, 81, 81);
}
nav a.active{
    background-color:rgb(101, 81, 81);
    color: var(--color-white);
}
